.button {
  background: white;
  font-size: 3rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  margin-right: 1rem;
}

.button:hover {
  transform: scale(1.05);
}

.button--primary {
  background: lightskyblue;
}
.button--secondary {
  background: lightcoral;
}
.button--success {
  background: lightseagreen;
}
.button--warning {
  background: lightyellow;
}

.button--rounded {
  border-radius: 2rem;
}

.button--outline {
  border: 2px solid black;
}


